@import "./variables.scss";

$sizes: 20;
$breakpoints: $xs, $sm, $md, $lg, $xl, $xxl;

@mixin margin-classes {
    @for $i from 0 through $sizes {
      $margin: $i * 0.5rem;
      /* margin #{$margin} */
      .m-#{$i} {
        margin: $margin;
      }
      .ml-#{$i} {
        margin-left: $margin !important;
      }
      .mr-#{$i} {
        margin-right: $margin;
      }
      .mt-#{$i} {
        margin-top: $margin !important;
      }
      .mb-#{$i} {
        margin-bottom: $margin;
      }
      .mx-#{$i} {
        margin-left: $margin;
        margin-right: $margin;
      }
      .my-#{$i} {
        margin-top: $margin;
        margin-bottom: $margin;
      }
    }
    @each $bk in $breakpoints {
        @for $i from 0 through $sizes {

            $margin: $i * 0.5rem;
            /* margin #{$margin} */

            @if $bk == $xs {
                @media (max-width: $bk) {
                    .m-#{$i} {
                        margin: $margin !important;
                    }
                }
            } @else {
                .m-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin: $margin !important;
                        }
                    }
                }
                .ml-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-left: $margin !important;
                        }
                    }
                }
                .mr-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-right: $margin !important;
                        }
                    }
                }
                .mt-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-top: $margin !important;
                        }
                    }
                }
                .mb-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-bottom: $margin !important;
                        }
                    }
                }
                .mx-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-left: $margin !important;
                            margin-right: $margin !important;
                        }
                    }
                }
                .my-#{$i} {
                    @media (min-width: $bk) {
                        .m-#{$i} {
                            margin-top: $margin !important;
                            margin-bottom: $margin !important;
                        }
                    }
                }
            }
        }
    }
}
@include margin-classes;

@mixin padding-classes {
    @for $i from 0 through $sizes {
      $padding: $i * 0.5rem;
      /* padding #{$padding} */
      .p-#{$i} {
        padding: $padding;
      }
      .pl-#{$i} {
        padding-left: $padding;
      }
      .pr-#{$i} {
        padding-right: $padding;
      }
      .pt-#{$i} {
        padding-top: $padding !important;
      }
      .pb-#{$i} {
        padding-bottom: $padding;
      }
      .px-#{$i} {
        padding-left: $padding;
        padding-right: $padding;
      }
      .py-#{$i} {
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
}
@include padding-classes;

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.m-auto{
  margin: auto;
}

.d-flex{
  display: flex !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
  width: 100%;
  justify-content: center;
}

.text-white{
  color: white;
}

.text-uppercase{
  text-transform: uppercase;
}

.w-100 {
width: 100%;
}

.h-100 {
height: 100%;
}

.vh-100 {
min-height: 100vh;
}

.font-regular {
font-size: 14px;
}

.font-x-small {
font-size: 10px;
}

.font-small {
font-size: 12px;
}

.font-medium {
font-size: 16px;
}

.font-large {
font-size: 20px;
}

.font-x-large {
font-size: 24px;
}

.font-x-large-medium {
font-size: 26px;
}

.font-xx-large {
font-size: 32px;
}

.font-xxx-large {
font-size: 40px;
}

.text-bold{
  font-weight: bold;
}

.title{
  font-size: 24px;
  font-weight: bold;
}

.custom-shadow{
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 3px rgba(0, 0, 0, 0.1);
}

.bg-white{
  background-color: white;
}

.border-round{
  border-radius: 8px;
}

.h-initial{
  height: initial;
}

.overflow-hidden{
  overflow: hidden;
}