@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

*{
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: start;
}

.App-link {
  color: #61dafb;
}

main{
  padding: 2rem 4rem;
}
