@import "../../styles/variables.scss";

.login-container{
    height: 100%;
    min-height: 100vh;
    display: flex;
    padding: 4rem;
    .login-form{
        padding: 2.5rem;
    }
}

@media (max-width: $xs){
    .login-container{
        padding: 0;
    }
}